.App {
  text-align: center;
}

.App-header {
  background-color: #3b3b3b;
  height: 120px;
  padding-top: 20px;
  color: white;
}

.App-header img {
  max-width: 100%;
}

.scoreboard {
  margin-left: 20%;
  margin-right: 20%;
}